.center-form {
    text-align: center;
    margin-top: 100px;
    font-size: 1.5em;
    color: blue;
 }

 .center-form button {
    margin-top: 10px; 
    font-size: 0.7em;
    color: blue;
 }
 h1{
    text-align: center;
    color: rgb(77, 77, 231);
 }