h1{
    color: blue;
    text-align: center;
 }
 .info{
    display: inline;
 }
 button{
    display: inline;
    color: blue;
 }
 .info2{
    margin-top: 10px;
 }
 .link{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
 }
 .link a{
    color: red;
 }
 h4{
    display: inline;
 }