{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>log in or sign up</title>
    <link rel="stylesheet" href="{% static 'facebook_app/styles/login.css' %}">
</head>
<body class="container">
    <h1>facebook</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            <p>{{ form.as_p }}</p>
            <button type="submit" class="btn1">Log In</button>
        </form>
    </div>
    <form action="{% url 'registration' %}">
        {% csrf_token %}
        <button type="submit" name="registration" value="registration" class="btn2">Create new account</button>
    </form>
</body>
</html>