{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>View All Friends</title>
    <link rel="stylesheet" href="{% static 'facebook_app/styles/view_all_friends.css' %}">
</head>
<body>
    <h1>View All Friends</h1>
    {% if friends is not None %}
        <form method="post">
            {% csrf_token %}
            {% for friend in friends %}
              <div class="frnd">
               <span>{{ friend.0 }}</span>
               <button type="submit" name="delete" value="{{ friend.1 }}">delete friend</button> 
               <button type="submit" name="view" value="{{ friend.1 }}">view profile</button>
              </div> 
            {% endfor %}
        </form>
    {% else %}
        <p class="no-frnd">No Friends</p>
    {% endif %}
    <div class="link"><a href="{% url 'myProfile' email %}">My Profile</a></div>
</body>
</html>